.wrap-welcome {
    display: flex;
    flex-direction: column;
    padding: 0.62rem 1.25rem 0.62rem 2.3rem;
    position: relative; 
    min-height: 100vh;   
}
.wrap-welcome::after {
    content: "";
    background-image: url('../img/backgrounds/04-ret.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.welcome {    
    font-size: 1.13rem;  
    padding: 1.5rem 3rem;
    background-color: #dcdcdc73; 
    border-radius: 1rem;
}
.private-users {
    display: flex;
    flex-wrap: wrap;
}
.private-users a {
    text-decoration: none;
    color: #111;
}
.private-users ul {
    line-height: 1.8;
    margin-left:1.5rem;
}
aside#menu {
    display: flex;
    flex-direction: column;
    padding: 0.62rem 10rem 3rem 0.62rem;
    background-color: #e6ebfab0;
    border-radius: 1.7rem;
    margin-bottom: 0.3rem;
}
aside#menu h2, .user-profile h2, .user-services h2, #coliver-rating h2, #coliving-rating h2 {
    font-weight: 700;
    color: #666;
    font-size: 1.12rem;
    padding: 1.5rem 0.62rem 0 2.5rem;
}
.edit-profile h2 {
    text-align: start;
    padding-bottom: 1rem;
    font-weight: 700;
    color: #666;
    font-size: 1.12rem;
}
.host-profile h2.score-title {
    font-weight: 700;
    color: #666;
    font-size: 1.12rem;
    padding: 0.62rem 0.62rem 2rem 2.5rem;
}
aside#menu ul .active {
    color: slategrey;
}
.user-profile ul {
    list-style: none;
    line-height: 2;
}
.user-profile h2 {
    padding: 0.62rem 0.62rem 0.62rem 4rem;
}
.user-services h2 {
    padding: 0.62rem 0.62rem 0.62rem 0.62rem;
}
button.exit {
    background-color: lavender;
    margin-left: 2.3rem;
    margin-top: 0.5rem;
}
 form#coliver-rating, form#coliving-rating {
    margin: 0;
    width: 25rem;
    max-width: 25rem;
    padding: 0.62rem 1rem 0.62rem 4rem;
}
form.edit-profile {
    margin:0;
    padding: 2rem 3rem 2rem 4rem;
    margin-left: 2rem;
    background-color: #e6ebfab0;
    border-radius: 1.5rem;
    width: max-content;
    max-width: max-content;
}
div.user-profile {
    padding: 2rem 7rem 7.5rem 1rem;
    background-color: #e6ebfab0;
    margin-left: 2rem;
    border-radius: 1.5rem;
}
div.user-services {
    padding: 2rem 6rem 20.5rem 3rem;
    background-color: #e6ebfab0;
    margin-left: 2rem;
    border-radius: 1.5rem;
}
form.edit-profile input, form#coliver-rating input {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem 1rem;
    margin-left: 0.62rem;
    border-radius: 0.3rem;
    color: #222222;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}
.profile-elements, .scorer-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.profile-elements label, .scorer-elements label {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.1rem;
}
.formaction {
    display: flex;
    justify-content: flex-end;
}
button.save-profile {
    background-color: lavender;
    margin-top: 1rem;
}
form#coliver-rating {
    width: 29rem;
    max-width: 29rem;
    padding: 3rem 3rem 7.5rem 3rem;
    background-color: #e6ebfab0;
    margin-left: 2rem;
    border-radius: 1.5rem;
}
#coliver-rating h2 {
    padding: 1.5rem 0.62rem 1rem 0.62rem;
}
form#coliving-rating {
    padding: 1rem 5rem 3.5rem 0rem;
    background-color: #e6ebfab0;
    margin-left: 2rem;
    border-radius: 1.5rem;
}
#coliving-rating h2 {
    padding: 0.62rem 0.62rem 1rem 3rem;
}
select.score {
    padding: 0.3rem;
    background-color: white;
    border-radius: 0.3rem;
    width: 13rem;
    margin-left: 0.62rem;
}
.doscore {
    display: flex;
    justify-content: flex-end;
}
button.save-score {
   background-color:lavender;
    margin-top: 0.62rem;
}
button.save-coliving-score {
    background-color:lavender;
    margin-top: 0.62rem;
}
p.listservices {
    padding-top: 0.94rem;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
}

@media only screen and (max-width: 768px){
    .wrap-welcome {
        width:100%;
        max-width: 100%;
        padding: 0.62rem 0.62rem 0.62rem 0.62rem;
    }
    .profile-elements, .scorer-elements {
        justify-content: flex-start;
    }
    form.edit-profile {
        padding: 2rem 1.3rem 2rem 2rem;        
    }
    form#coliver-rating {
        padding: 2rem 5rem 2rem 3rem;
        width: fit-content;
        max-width: fit-content;
    }
    form#coliving-rating {
        padding: 0rem 0rem 2.5rem 0rem;
        width: fit-content;
        max-width: fit-content;
    }
    #coliving-rating h2 {
        padding: 0.62rem 0.62rem 1rem 0.62rem;
    }
    .formaction {
        justify-content: flex-start;
    }
    div.user-profile, form.edit-profile, div.user-services, div.host-profile, form#coliver-rating, form#coliving-rating {
        margin-left: 0rem;
        margin-top: 2rem;
    }
    div.host-profile {
        padding: 1rem 1rem 0rem 0rem
    }
    .host-profile h2.score-title {
        padding: 0.62rem 0.62rem 0.62rem 2.5rem;
    }
    .private-users ul {
        margin-left: 1rem;
    }
}