form#login {
    display: block;
    max-width: 35rem;
    width: 35rem;
    padding: 5rem;
    background-color: aliceblue;
    border-radius: 1.5rem;
}
form#login input {
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1.6rem;
    border-radius: 0.3rem;
    color: #222222;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    min-width: 0rem;
}
select.typerol {
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1.6rem;
    background-color: #fff;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    color: #666;
    min-width: 0rem;
}
option.rol {
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    color: #666;
    min-width: 0rem;
}
.title-form {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.94rem;
    color: #666;
}
.doLogin {
    margin-top: 0.6rem;
    padding: 0.5rem 0.9rem;
}
section#contact-info h3, section#coliving-info h3 {
    color:#555;
}
input#price-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem 1rem;
    margin-left: 0.62rem;
    border-radius: 0.3rem;
    color: #222;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}
textarea#details {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}