.hostwrap-welcome {
    display: flex;
    flex-direction: column;
    padding: 0.62rem 1.25rem 0.62rem 2.3rem;
    position: relative; 
    min-height: 100vh;   
}
.hostwrap-welcome::after {
    content: "";
    background-image: url('../img/backgrounds/05.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.hostwelcome {    
    font-size: 1.13rem;  
    padding: 1.5rem 3rem;
    background-color: #dcdcdcc7; 
    border-radius: 1rem;
}
aside#menu-host {
    display: flex;
    flex-direction: column;
    padding: 0.62rem 10rem 3rem 0.62rem;
    background-color: #e6ebfac9;
    border-radius: 1.7rem;
    margin-bottom: 0.3rem;
}
aside#menu-host ul .active {
    color: slategrey;
}
aside#menu-host h2 {
    font-weight: 700;
    color: #666;
    font-size: 1.12rem;
    padding: 1.5rem 0.62rem 0 2.5rem;
}
.private-hosts {
    display: flex;
    flex-wrap: wrap;
}
.private-hosts a {
    text-decoration: none;
    color: #111;
}
.private-hosts ul {
    line-height: 1.8;
}
div.host-profile {
    padding: 2rem 6rem 15rem 2rem;
    background-color: #e6ebfac9;
    margin-left: 2rem;
    border-radius: 1.5rem;
}
.host-profile p {
    padding-left: 2.5rem;
}
.host-edit-profile h2, .host-profile h2, #add-apartment h2 {
    font-weight: 700;
    color: #666;
    font-size: 1.12rem;
}
.host-edit-profile h2 {
    padding: 0.62rem 0.62rem 3rem 0rem;
    text-align: center;
}
.host-profile h2 {
    padding: 0.62rem 0.62rem 0.62rem 2.5rem;
}
div.host-profile-wrap {
    display: flex;
    flex-wrap: wrap;
}
div.profile-info:first-child {
    margin-right: 5rem;
}
#add-apartment h2 {
    padding: 0.62rem 0.62rem 0.62rem 0;
}
.add-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.add-space label {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.1rem;
}
button.save-apartment {
    background-color: lavender;
    margin-left: 6.25rem;
}
.host-profile-wrap ul {
    list-style: none;
    line-height: 2;
}
form.host-edit-profile, form#add-apartment {
    margin: 0;
    width: max-content;
    max-width: max-content;
    padding: 2rem 3rem 2rem 4rem;
    margin-left: 2rem;
    background-color: #e6ebfac9;
    border-radius: 1.5rem;
}
form.host-edit-profile input, form#add-apartment input {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem 1rem;
    margin-left: 0.62rem;
    border-radius: 0.3rem;
    color: #222222;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}
textarea.text-profile-item {
    margin-top: 1.25rem;
}
.profile-elements.radios {
    justify-content: space-evenly;
}
button.save-profile.host {
    margin-left: 18.25rem;
    margin-top: 1.25rem;
}
form#add-apartment form.booking-form div.options-booking, form#add-apartment form.booking-form button.make-reservation {
    display: none;
}
form#add-apartment div.apartments {
    padding: 0 0.5rem 1rem 0rem;
}
form#add-apartment div.apartments h2 {
    padding: 0.62rem 0.62rem 2.62rem 0;
}

@media only screen and (max-width: 768px){
    div.host-profile {
        padding: 1rem 1rem 1rem 0.5rem;
        margin-left: 0rem;
    }
    .host-edit-profile h2 {
        padding: 0.62rem 0.62rem 0.62rem 0;
    }
    button.save-profile.host {
        margin-left: 0;
        margin-top: 1.25rem;
    }
    .profile-elements.radios {
        justify-content: flex-start;
    }
}


